[data-component="patient-monitor"]{
    .body {
        flex: 1 0 auto;  
        margin-bottom: 4em;

        .patient-icon {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 0 2em;
            img {
                height: 5em;
            }
        } // .patient-icon
    } // .body

    .modal {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        
        .container {
            border-radius: 7px;
            padding: 2em 0;
            width: 90%;
            background-color: $white;
            .message {
                font-family: Lato-Black;
                font-size: 24px;
                color: $red;  
                padding: 0 2em .75em;
                text-align: center; 
            }
        }
    } // .modal

    .footer {
        border: none;
        button {
            bottom: 1em;
            position: absolute;
        }
    } // .footer
} // [data-component]