@font-face {
    font-family: 'Nexa-Bold';
    src: url('../../fonts/Nexa-Bold.otf');
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('../../fonts/Nexa-Light.otf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/Lato-Regular.otf');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../../fonts/Lato-Black.otf');
}