<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">journal <span class="ambulance subtitle">ambulance</span></div>
    <div class="right-action-btn"></div>
</div>
    
<div class="body">
    <div class="kid-icon">
        <img class="icon" src="assets/ambulance.png" alt="">
    </div>
    <div class="kid-details">
        <table id="patient">
          <tr>
            <th>Navn</th>
            <th>Skade</th>
            <th>Læge</th>
          </tr>
          <tr id="patient1">
            <td>Navn patient 1</td>
            <td>Skade Patient 1</td>
            <td>Læge til patient 1</td>
          </tr>
          <tr id="patient2">
            <td>Navn patient 2</td>
            <td>Skade Patient 2</td>
            <td>Læge til patient 2</td>
          </tr>
          <tr id="patient3">
            <td>Navn patient 3</td>
            <td>Skade Patient 3</td>
            <td>Læge til patient 3</td>
          </tr>
        </table>

    </div>
</div>
    





    <div class="footer menu">
       <!-- <div class="ambulance-status-tab column match-parent-height">
            <img src="assets/heart-grey.png" alt="">
            <span class="grey">Status</span>
        </div>
        <div class="ambulance-history-tab column match-parent-height">
            <img src="assets/analytics-red.png" alt="">
            <span class="red">Hitorik</span>
        </div>
        <div class="ambulance-settings-tab column match-parent-height">
            <img src="assets/settings-grey.png" alt="">
            <span class="grey">Indstillinger</span>
        </div>-->
    </div>