<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">journal <span class="ambulance subtitle">læge</span></div>
    <div class="right-action-btn"></div>
</div>
    
    <div class="body">     
    </div>
    
    <div class="footer menu">
        <div class="ambulance-status-tab column match-parent-height">
            <img src="assets/heart-grey.png" alt="">
            <span class="grey">Status</span>
        </div>
        <div class="ambulance-history-tab column match-parent-height">
            <img src="assets/analytics-red.png" alt="">
            <span class="red">Hitorik</span>
        </div>
        <div class="ambulance-settings-tab column match-parent-height">
            <img src="assets/settings-grey.png" alt="">
            <span class="grey">Indstillinger</span>
        </div>
    </div>