<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">journal <span class="ambulance subtitle">ambulance</span></div>
    <div class="right-action-btn"></div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $.getJSON( "src/scripts/data/patienter.json", function(data) {
    console.log( "success" );
    
    var table = document.getElementById("patient-amb");
    var tbody = document.createElement("tbody");

    for (x in data["patienter"]) {
        console.log("patient"+x);

        var tr = document.createElement("tr");
        
            var td = document.createElement("td");
            var txt = document.createTextNode(data["patienter"][x].navn);
            td.appendChild(txt);
            tr.appendChild(td);
            tbody.appendChild(tr);
            table.appendChild(tbody);

            var td2 = document.createElement("td");
            var txt2 = document.createTextNode(data["patienter"][x].skade);
            td2.appendChild(txt2);
            tr.appendChild(td2);
            tbody.appendChild(tr);
            table.appendChild(tbody);

            var td3 = document.createElement("td");
            var txt3 = document.createTextNode(data["patienter"][x].laege);
            td3.appendChild(txt3);
            tr.appendChild(td3);
            tbody.appendChild(tr);
            table.appendChild(tbody);

            var td4 = document.createElement("td");
            var txt4 = document.createTextNode(data["patienter"][x].ambulance_text);
            td4.appendChild(txt4);
            tr.appendChild(td4);
            tbody.appendChild(tr);
            table.appendChild(tbody);

        }
    })
    .done(function() {
        console.log( "second success" );
    })
    .fail(function() {
    console.log( "error" );
    })
    .always(function() {
      console.log( "complete" );
    });

</script>

    
<div class="body">
    <div class="kid-icon">
        <img class="icon" src="assets/ambulance.png" alt="">
    </div>
    <div class="kid-details">
        <table id="patient-amb">
          <tr>
            <th>Navn</th>
            <th>Skade</th>
            <th>Læge</th>
            <th>Kommentar fra ambulancefører</th>
          </tr>
        </table>
    </div>
</div>
    





    <div class="footer menu">
       <!-- <div class="ambulance-status-tab column match-parent-height">
            <img src="assets/heart-grey.png" alt="">
            <span class="grey">Status</span>
        </div>
        <div class="ambulance-history-tab column match-parent-height">
            <img src="assets/analytics-red.png" alt="">
            <span class="red">Hitorik</span>
        </div>
        <div class="ambulance-settings-tab column match-parent-height">
            <img src="assets/settings-grey.png" alt="">
            <span class="grey">Indstillinger</span>
        </div>-->
    </div>