<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">journal <span class="kid subtitle">patient</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="kid-icon">
        <img src="assets/kid.png" alt="">
    </div>
</div>

<div class="footer menu">    
    <div class="kid-status-tab column match-parent-height">
        <img src="assets/heart-grey.png" alt="">
        <span class="grey">Status</span>
    </div>
    <div class="kid-history-tab column match-parent-height">
        <img src="assets/analytics-grey.png" alt="">
        <span class="grey">Historik</span>
    </div>
    <div class="kid-settings-tab column match-parent-height">
        <img src="assets/settings-red.png" alt="">
        <span class="red">Indstillinger</span>
    </div>
    <div class="endnote">
            <pend>Lavet i samarbejde mellem: Trørødskolens seje piger og IBM Client Innovation Center, efteråret 2018.</pend>
    </div>
</div>    

