<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">journal <span class="kid subtitle">patient</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="face">
        <img src="assets/face-low.png" alt="">
    </div>
    
    <div class="line">
        <img src="assets/line.png" alt="">
    </div>

    <div class="feedback">
        <div class="column">
            <div class="image">
                <img src="assets/dose.png" alt="">
            </div>
            <div class="action">
                <span>1 DOSE</span>
            </div>
        </div>
    </div>
</div>

<div class="footer menu">
    <div class="kid-monitor-tab column match-parent-height">
        <img src="assets/heart-red.png" alt="">
        <span class="red">Monitorér</span>
    </div>
    <div class="kid-history-tab column match-parent-height">
        <img src="assets/analytics-grey.png" alt="">
        <span class="grey">Historik</span>
    </div>
    <div class="kid-settings-tab column match-parent-height">
        <img src="assets/settings-grey.png" alt="">
        <span class="grey">Indstillinger</span>
    </div>
</div>