<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">journal <span class="parent subtitle">læge</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="kid-icon">
        <img class="icon" src="assets/parent-grey.png" alt="">
        <img class="icon" src="assets/mama-grey.png" alt="">
    </div>
    <div class="kid-details">
        <table id="patient">
          <tr>
            <th>Navn</th>
            <th>Skade</th>
            <th>Læge</th>
            <th>Ambulancebesked</th>
          </tr>
          <tr id="patient1">
            <td>Navn patient 1</td>
            <td>Skade Patient 1</td>
            <td>Læge til patient 1</td>
            <td>Ambulancebesked 1</td>
          </tr>
          <tr id="patient2">
            <td>Navn patient 2</td>
            <td>Skade Patient 2</td>
            <td>Læge til patient 2</td>
            <td>Ambulancebesked 2</td>
          </tr>
          <tr id="patient3">
            <td>Navn patient 3</td>
            <td>Skade Patient 3</td>
            <td>Læge til patient 3</td>
            <td>Ambulancebesked 3</td>
          </tr>
        </table>

    </div>
</div>

<div class="footer">
    <button class="btn red submit">GEM</button>
</div>