<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">journal <span class="doctor subtitle">patient</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="patient-icon">
        <img src="assets/kid.png" alt="">
    </div>
    <div class="patient-details">
        <div class="row">
            <div class="detail-type">
                <span>Navn</span>
            </div>
            <div class="input">
                <input class="setup-name" type="text" name="name" value="Patientens navn her">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Adresse</span>
            </div>
            <div class="input">
                <input class="setup-name" type="text" name="name" hint="Patientens adresse...">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Fødselsdag</span>
            </div>
            <div class="input">
                <input class="setup-age" type="text" name="age" value="Patientens alder">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Læge</span>
            </div>
            <div class="input">
                <input class="setup-doctor" type="text" name="ic" value="Lægens navn">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Meddelese om helbredet</span>
            </div>
            <div class="input">
                <input class="setup-message" type="text" name="regimen" value="Beskrivelse af din skade eller symtomer">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Allergier</span>
            </div>
            <div class="input">
                <input class="setup-allergi" type="text" name="ic" value="Allergier">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Andet</span>
            </div>
            <div class="input">
                <input class="settings-other" type="text" name="ic" value="Andet">
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <button class="btn red submit">GEM</button>
</div>