[data-component="parent-status"]{
    .body {
        flex: 1 0 auto;  


        .feedback {
            width: 100%;
            display: flex;
            justify-content: center;
            .message {
                font-family: Lato-Black;
                font-size: 20px;
                color: $light-grey;
            }
        } // .feedback

        .line {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1.25em 0;
            img {
                width: 50%;
                height: 1px;
            }
        } // .line
    } // body

    .footer {
        border: none;
        button {
            bottom: 1em;
            position: absolute;
        }
    } // .footer
} // [data-component]